.navbar.navbar-default
    .container
        #navbar-main
            ul.nav.navbar-nav
                li
                    a(href='/') Home
            ul.nav.navbar-nav.navbar-right
                li(ng-hide='vm.isAuthenticated')
                    a(href='login') Sign in
                li(ng-show='vm.isAuthenticated')
                    a(href='profile') {{ vm.currentUser.name }}