.container
    .row
        .col-md-6
            h1 Register
            p.lead
                | Already a member? Please
                a(href='login') log in
                |  instead.
            form(ng-submit='vm.submit()')
                .form-group
                    label(for='name') Full name
                    input#name.form-control(type='text', placeholder='Enter your name', ng-model='vm.credentials.name')
                .form-group
                    label(for='email') Email address
                    input#email.form-control(type='email', placeholder='Enter email', ng-model='vm.credentials.email')
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password', placeholder='Password', ng-model='vm.credentials.password')
                button.btn.btn-default(type='submit') Register!